body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px;
}

header h1 {
    margin: 0;
    color: #333;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 5px;
}

.code {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.code button {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.code button:hover {
    background-color: #ff9900;
}
